<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Flask - template system</title>
</head>
<body>
    <h1>Welcome to learning flask template system.</h1>
    <h2>I am {{host}} your host for this bootcamp.</h2>
    <p>My name contains the following list of letters:</p>
    <ul>
    {%  for letter in host %}
    <li>{{letter}}</li>
    {% endfor %}
    </ul>
    <img src="../static/puppy_pic.jpg" width=500px height=500px/>
</body>
</html>